Repository 0xMiden/miden-vm, pull requests merged in 2025-06, with the labels that each got.

#1854 Update diagrams
  docs/src/assets/design/chiplets/chiplets.png
  docs/src/assets/design/chiplets/kernel_rom/kernel_rom_execution_trace.png
  docs/src/assets/design/vm_trace.png
  docs/src/design/chiplets/kernel_rom.md
  docs/src/design/chiplets/main.md
  docs/src/design/main.md
Labels: no changelog

#1860 feat(syntax): add support for breakpoint instruction
  CHANGELOG.md
  assembly/src/parser/grammar.lalrpop
  assembly/src/parser/token.rs
Labels: assembly, debugging

#1867 Fix release script
  scripts/publish-release.sh
Labels: no changelog

#1855 Generalize constants so they also support words
  CHANGELOG.md
  assembly/src/assembler/instruction/mod.rs
  assembly/src/ast/attribute/meta.rs
  assembly/src/ast/attribute/meta/expr.rs
  assembly/src/ast/constants.rs
  assembly/src/ast/instruction/mod.rs
  assembly/src/ast/instruction/print.rs
  assembly/src/ast/tests.rs
  assembly/src/ast/visit.rs
  assembly/src/lib.rs
  assembly/src/parser/grammar.lalrpop
  assembly/src/parser/lexer.rs
  assembly/src/parser/mod.rs
  assembly/src/parser/token.rs
  assembly/src/sema/context.rs
  assembly/src/sema/errors.rs
  assembly/src/sema/passes/const_eval.rs
  assembly/src/tests.rs
Labels: assembly

#1881 refactor(assembly): improve clarity of Assembler API and its internals
  CHANGELOG.md
  Cargo.lock
  assembly/Cargo.toml
  assembly/src/assembler/basic_block_builder.rs
  assembly/src/assembler/id.rs
  assembly/src/assembler/instruction/adv_ops.rs
  assembly/src/assembler/instruction/crypto_ops.rs
  assembly/src/assembler/instruction/env_ops.rs
  assembly/src/assembler/instruction/ext2_ops.rs
  assembly/src/assembler/instruction/field_ops.rs
  assembly/src/assembler/instruction/mem_ops.rs
  assembly/src/assembler/instruction/mod.rs
  assembly/src/assembler/instruction/procedures.rs
  assembly/src/assembler/instruction/u32_ops.rs
  assembly/src/assembler/linker/analysis/mod.rs
  assembly/src/assembler/linker/analysis/rewrite_check.rs
  assembly/src/assembler/linker/callgraph.rs
  assembly/src/assembler/linker/debug.rs
  assembly/src/assembler/linker/errors.rs
  assembly/src/assembler/linker/mod.rs
  assembly/src/assembler/linker/name_resolver.rs
  assembly/src/assembler/linker/rewrites/mod.rs
  assembly/src/assembler/linker/rewrites/module.rs
  assembly/src/assembler/mast_forest_builder.rs
  assembly/src/assembler/mast_forest_merger_tests.rs
  assembly/src/assembler/mod.rs
  assembly/src/assembler/module_graph/debug.rs
  assembly/src/assembler/module_graph/mod.rs
  assembly/src/assembler/tests.rs
  assembly/src/ast/instruction/debug.rs
  assembly/src/ast/invocation_target.rs
  assembly/src/diagnostics.rs
  assembly/src/errors.rs
  assembly/src/lib.rs
  assembly/src/library/mod.rs
  assembly/src/library/tests.rs
  assembly/src/testing.rs
  assembly/src/tests.rs
  miden-vm/benches/program_execution.rs
  miden-vm/benches/program_execution_fast.rs
  miden-vm/src/cli/bundle.rs
  miden-vm/src/cli/data.rs
  miden-vm/src/lib.rs
  miden-vm/src/repl/mod.rs
  miden-vm/tests/integration/flow_control/mod.rs
  processor/src/tests.rs
  stdlib/Cargo.toml
  stdlib/build.rs
  stdlib/tests/crypto/falcon.rs
  stdlib/tests/mem/mod.rs
  test-utils/src/lib.rs
Labels: assembly

#1893 Implement support for multi-module kernels
  CHANGELOG.md
  assembly/src/assembler/linker/mod.rs
  assembly/src/assembler/mod.rs
  assembly/src/assembler/tests.rs
  assembly/src/ast/module.rs
  assembly/src/ast/procedure/name.rs
  assembly/src/lib.rs
  assembly/src/library/mod.rs
  assembly/src/library/namespace.rs
  assembly/src/library/path.rs
  assembly/src/parse.rs
  assembly/src/parser/grammar.lalrpop
  assembly/src/parser/lexer.rs
  assembly/src/sema/mod.rs
  assembly/src/sema/passes/verify_invoke.rs
  assembly/src/testing.rs
  assembly/src/tests.rs
  miden-vm/tests/integration/exec_iters.rs
  miden-vm/tests/integration/operations/decorators/asmop.rs
  test-utils/src/lib.rs
Labels: assembly
